/* reset */
@import url(./reset.css);

/* theme */

header{
    h1{
        color: antiquewhite;
    }
}

body{
    background-color: blueviolet;
}

img{
    height: 50rem;
}

main{
    display: flex;
    justify-content: center;
    div{
        padding: 5rem;
    }
}